:root {
  // Backgrounds
  --bg__start: #2f3131;
  --bg__theme--game: #294f60;
  --bg__theme--da: #ffffff;

  // Fonts
  --text-start: #ffffff;
  --text-start-muted: #d9d9d9;

  // Buttons
  --button-bg: #f0ea6e;
  --text-button: #303131;
}
