:root {
  // Backgrounds
  --color-surface: #0d0e15;
  --color-primary: #00f0ff;
  --color-secondary: #0066FF;
  --color-danger: #FF0055;

  // // Fonts
  // --text-start: #ffffff;
  // --text-start-muted: #d9d9d9;

  // // Buttons
  // --button-bg: #f0ea6e;
  // --text-button: #303131;
}
